<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Project Details</title>
</head>

<body>

<h1>Project Details</h1>

Project ID:
<span th:text="${project.projectId}"></span>

<br>

Project Name:
<span th:text="${project.projectName}"></span>

<br>

Description:
<span th:text="${project.description}"></span>

<br>

Team:
<span th:text="${project.team.teamName}"></span>

<br>

Status:
<span th:text="${project.projectStatus}"></span>

<br>

Start Date:
<span th:text="${project.startDate}"></span>

<br>

Due Date:
<span th:text="${project.dueDate}"></span>

<br>

Created Date:
<span th:text="${project.createdDate}"></span>

<br><br>

<a th:href="@{/task/project/{projectId}/new(projectId=${project.projectId})}">
    <button type="button">
        Create Task
    </button>
</a>

<h2>Tasks</h2>

<table border="1">

    <thead>
    <tr>
        <th>Task ID</th>
        <th>Task Name</th>
        <th>Description</th>
        <th>Assigned To</th>
        <th>Status</th>
        <th>Due Date</th>
    </tr>
    </thead>

    <tbody>

    <tr th:each="task : ${tasks}">

        <td th:text="${task.taskId}"></td>

        <td th:text="${task.taskName}"></td>

        <td th:text="${task.description}"></td>

        <td>
            <span th:each="employee, iterStat : ${task.assignedEmployee}">

                <span th:text="${employee}"></span>

                <span th:if="${!iterStat.last}">
                    ,
                </span>

            </span>
        </td>

        <td th:text="${task.taskStatus}"></td>

        <td th:text="${task.dueDate}"></td>

    </tr>

    </tbody>

</table>
</body>
</html>