<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>

<form action="#" th:action="@{/employee/list}" method="GET">
  <select name="department">
    <option value="">All Departments</option>
    <option th:each="deptOpt:${departments}" th:value="${deptOpt.name()}" th:text="${deptOpt.name()}"></option>
  </select>

  <select name="role">
    <option value="">All Roles</option>
    <option th:each="roleOpt:${roles}" th:value="${roleOpt.name()}" th:text="${roleOpt.name()}"></option>
  </select>

  <input type="submit" value="Filter">
</form>


<table border="1">
  <thead>
<tr>
  <th>Employee ID</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Details</th>
  <th>Update</th>
  <th>Deactivate</th>
</tr>
  </thead>
  <tbody>
  <tr th:each="emp:${employees}">
    <td th:text="${emp.employeeId}"></td>
    <td th:text="${emp.firstName}"></td>
    <td th:text="${emp.lastName}"></td>

    <td> <a th:href="@{/employee/detail/{employeeId}(employeeId=${emp.employeeId})}"><button type="button">Details</button></a> </td>
    <td> <a th:href="@{/employee/update/{employeeId}(employeeId=${emp.employeeId})}"><button type="button">Update</button></a></td>
    <td><a th:href="@{/employee/deactivate/{employeeId}(employeeId=${emp.employeeId})}"><button type="button">Deactivate</button></a> </td>
  </tr>
  </tbody>
</table>

</body>
</html>