<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Employee Details</title>
</head>
<body>

<h1>Employee Details Page</h1>

First Name: <span th:text="${employee.firstName}"></span>
<br>
Last Name: <span th:text="${employee.lastName}"></span>
<br>
Email: <span th:text="${employee.email}"></span>
<br>
Department: <span th:text="${employee.department}"></span>
<br>
Role: <span th:text="${employee.role}"></span>
<br>
Designation: <span th:text="${employee.designation}"></span>
<br>
<a sec:authorize="hasRole('EMPLOYEE')" th:href="@{/employee/me/update}"><button type="button">Update</button></a>
<a sec:authorize="hasRole('ADMIN')" th:href="@{/employee/saveUpdatedEmployee/{employeeId}(employeeId=${employee.employeeId})}"><button type="button">Update</button></a>
<br><br>
<form th:action="@{/logout}" method="POST">
    <button type="submit">Logout</button>
</form>
<br><br>
</body>
</html>